<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Bookings</h1>
  </div>

  <div id="wrap">
    <div id="main" class="container clear-top">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Email</th>
            <th>Goat Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
          </tr>
        </thead>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.user.email %></td>
            <td><%= booking.goat.name %></td>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
            <td>
              <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
