
<div class="banner">
  <div class="container">
<div class="containerhomepage">
    <h1>You can rent <strong>beautifun and cute goats</strong><h1>
    <h1>for <strong>all reason you want</strong>!</h1>
    <p>You can have whool, milk, try an horn massage or just enjoy a cuddle time with our goat</p>
</div>

<div class="home_buttons">
    <%= link_to "See all goats!", goats_path, class: "btn-goat see_all m-2" %>
    <%= link_to "Add your goat!", new_goat_path, class: "btn-goat add m-2" %>
</div>
</div>
</div>

<div class="cards_wrapper bg-bisque">
<div class="container">
<div class="home_cards d-flex">
    <div class="card">
    <div class="card_title">Eco-Friendly</div>
    <div class="card_desc">Goats don’t pollute and they naturally fertilize as they work.</div>
    </div>

    <div class="card">
    <div class="card_title">Cost</div>
    <div class="card_desc">Renting goats can save you up to 50% compared to hiring men and machinery to clear your land.</div>
    </div>

    <div class="card">
    <div class="card_title">Safety</div>
    <div class="card_desc">Our goats are given full health care and are registered with the Department of Agriculture.</div>
    </div>
  </div>
</div>
</div>

<div class="footer">
 <h4 class="footer_title">Follow us</h4>
 <div class="social_links">
 <%= image_tag "instagram.png", class: "instagram" %>
 <%= image_tag "instagram.png", class: "instagram" %>
 <%= image_tag "instagram.png", class: "instagram" %>
 </div>
</div>
